canvas {
  z-index: 2;
  width: 100%;
  height: 100%;
}

#axis-svg {
  z-index: 1;
}

#tooltip-svg {
  z-index: 3;
}

#d3-diagram {
  width: 100%;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tick line{
    opacity: 0.2;
}

.plot {
  position: absolute;
}

text {
    font: 10px sans-serif;
}